@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 100%);
  overflow-x:hidden;
 
}

#create-class .create-class-container {
  width: 800px;
  padding: 0 30px 30px;
  height: fit-content;
  border: 1px solid #DA88F9;
  border-radius: 25px;
  margin: -6% 25%;
  background-color: #3C2A5D;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.104);
  justify-content: center;
  font-family: 'Poppins', sans-serif; 
}

#create-class input[type="text"], 
#create-class textarea, 
#create-class .form-control {
  width: 95%;
  padding: 10px;
  margin: 1.5% 20px;
  border: 1px solid #DA88F9;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #ffffff00;
  color: #DA88F9;
}

#create-class ::-ms-input-placeholder { 
  color:  #DA88F9 !important;
}

#create-class h1 {
  text-align: start;
  margin: 1% 0 7% 28%;
  padding: 0 0 10px;
  width: 100%;
  font-weight: 700;
  font-size: 25px;
  color: #000000;
}

#create-class .form-group label {
  display: flex;
  margin: 5px 3%;
  font-weight: 550;
  text-align: start;
  color: #f1f1f1;
}

#create-class .btn-group {
  display: flex;
  margin-top: 25px;
  justify-content: space-between; 
}

#create-class .btn, .center-btn {
  width: 45%; 
  padding: 10px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: left;
  margin: 0 3% 3%;
  display: flex;
  align-items: center;
}

#create-class .btn-primary {
  background-color: #DA88F9;
  color: #fff;
}

#create-class .btn-outline-primary {
  background-color: transparent;
  border: 1px solid #DA88F9;
  color: #DA88F9;
}

#create-class .btn:hover {
  background-color: #B76AD4;
}

#create-class .btn-primary:hover {
  background-color: #B76AD4;
}

#create-class .btn-outline-primary:hover {
  background-color: #DA88F9;
  color: #fff;
}

#create-class button.btn.btn-primary {
  align-self: flex-start;
}

#create-class .center-btn {
  display: flex;
  justify-content: center;
  margin: 0 190px;
  background-color: #7E57C2;
  color: #fff;
}

#create-class .center-btn:hover {
  background-color: #5e39a7;
}

#create-class .form-group ::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  color: #BA68C8 !important;
}

#create-class .form-group ::-moz-placeholder { /* Firefox 19+ */
  color: #BA68C8 !important;
}

#create-class .form-group :-ms-input-placeholder { /* IE 10+ */
  color: #BA68C8 !important;
}

#create-class .form-group ::-ms-input-placeholder { /* Edge 12-18 */
  color: #BA68C8 !important;
}

#create-class .form-group ::placeholder { /* Modern browsers */
  color: #BA68C8 !important;
}

.btn-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  
}

.btn-text {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.btn-subtext {
 
  font-size: 0.8em;
  color: #ffffff;
}

.selected-students {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.selected-student {
  background-color: #BA68C8;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
