.custom-brand {
    font-size: 1.5rem; 
    margin: 5px 25px; 
    font-weight: 600;
  }
  .custom-nav {
    position: sticky;
    top: 0;
    z-index: 1000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
.nav-link {
    color: #263238 !important; 
  }
  .nav-link:hover {
    color: #BA68C8 !important; 
  }
  .custom-nav {
    background-color: #ffffff !important; 
  }